*{
    margin: 0px;

}

body, p {
   background-color: lightgray;
}
.logo{
    display: flex;
    width: 80px;
}
iframe{
    width: 10vw;
}

.master-header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px; 
    align-items: center;
    margin-top: 0px;
    width: 100%;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;

}

.searchbar {
    display: flex;
    flex-basis: 600px;

}
.search-box{
    margin: 0 auto;
    border: solid rgb(218, 218, 218);
    max-width: 600px; 
    flex-grow: 1;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    padding-left: 10px;
    
}
.search-button{
    align-content: center;
    display: flex;
}
button{
    background-color: rgb(247, 247, 247);
    border-radius: 0px 5px 5px 0px;
    width: 50px;
    border: solid rgb(218, 218, 218);
    
}

.menu-item {
    border: rgb(179, 179, 179) 2px;
    padding: 0px 20px 0px 20px;
}

nav {
    margin-left: 10px;
    margin-right: 10px;
}

.main-grid {
    border: peru dotted 3px;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 20px 10px;
    margin: 0 auto;
    background:grey;
}
.left-container{
    border: indigo dotted 3px;
}
.title-box {
    border: greenyellow solid 5px;
}

.description-box {
    border: teal dashed 4px;
}

.comment-loading-box {
    border: fuchsia dotted 4px;
}

.sidebar {
    border: rgb(203, 32, 218) solid 4px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}

.settings-menu {
    background-color: goldenrod;
}

.other-links {
    background-color: green;
}