html{
    /* position: relative;  */
    width: 100%;
    overflow: hidden;
} 
body, p {
    margin: 0px;
    padding: 0px;
}
img{}

.master-header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
    
}

.left-nav {
    border: olive dashed 2px;
    display: flex;
    align-items: center;
}

.right-nav {
    border: olive dashed 2px;
    display: flex;

}

.searchbar {
    border: olive dashed 2px;
    display: flex;
    /* flex-grow: 1;  */
    flex-basis: 600px;

}
.search-box{
    margin: 0 auto;
    max-width: 600px; 
    flex-grow: 1;
    
}
.search-button{
    border: red solid 2px;
    display: flex;
    /* flex-shrink: 1; */
}
button{
    width: 5vw;
}

.menu-item {
    border: rgb(0, 30, 128) dashed 2px;
    padding: 0px 20px 0px 20px;
}

nav {
    background-color: palegreen;
    margin-left: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}